<ion-view title="Proyectos">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="newProject()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Busqueda" ng-model="data.searchQuery">
      </label>
    </div>

    <div class="list">
      <a class="item item-avatar" ng-repeat="proyecto in projects | filter: data.searchQuery" href="#/abs/project/{{proyecto.id}}">
        <img src="img/unisimon.jpg">
        <h2>{{proyecto.title}}</h2>
        <p>{{proyecto.text}}</p>
        <p>Lider: {{proyecto.lider}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>