<div class="modal">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Nuevo proyecto</h1>
    <button class="button button-icon ion-chevron-down" ng-click="newProjectModalClose()"></button>
  </ion-header-bar>
  <ion-content has-header="true">
    <form ng-submit="saveProject(project)">
      <div class="list list-inset">
        <label class="item item-input">
          <div class="input-label">Fecha:</div>
          <input type="date" ng-model="project.fechaCreacion"/>
        </label> 
        <label class="item item-input">
          <div class="input-label">Nombre programa social:</div>
          <input type="text" ng-model="project.nombreProgramaSoci"/>
        </label>
        <label class="item item-input">
          <div class="input-label">Nombre proyecto:</div>
          <input type="text" ng-model="project.title"/>
        </label>
        <label class="item item-input">
          <textarea ng-model="project.text" placeholder="Descripción proyecto"></textarea>
        </label>
        <label class="item item-input">
          <div class="input-label">Líder proyecto:</div>
          <input type="text" ng-model="project.lider"/>
        </label>
        <label class="item item-input">
          <div class="input-label">Fecha inicio:</div>
          <input type="date" ng-model="project.fechaInicio"/>
        </label>
        <label class="item item-input">
          <div class="input-label">Fecha fin:</div>
          <input type="date" ng-model="project.fechaFin"/>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive activated" type="submit">
          Crear
        </button>
      </div>
    </form>
  </ion-content>
</div>